<a href="/trash/courses">Thùng rác ({{deletedCount}})</a>
<form method="post" action="/courses/actionCourseId">
<div class="form-group d-flex ">
  <label >
  </label>
  <select class="form-control" id="selectAction" name="action">
    <option value="">--Hành động--</option>
    <option value="delete">Xóa</option>
  </select>
  <button type="submit" id="render" class="btn btn-primary ml-4" disabled>Thực hiện</button>
</div>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" id="checkBoxAll"> <span class="text-inverse"></span></th>
      <th scope="col" style="width:80px">STT {{{sortable '_id' _sort}}}</th>
      <th scope="col">Tên khóa học {{{sortable 'name' _sort}}} </th>
      <th scope="col">Nội dung {{{sortable 'describe' _sort}}}</th>
      <th scope="col">Trình độ {{{sortable 'level' _sort}}}</th>
      <th scope="col" >Thời gian tạo {{{sortable 'createdAt' _sort}}}</th>
      <th scope="col" ></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th><input type="checkbox" class="checkBox" name="courseId[]" value="{{this._id}}" /></th>
      <th scope="row">{{this._id}}</th>
      <td>
          {{this.name}}
          <img class="img" src="{{this.image}}">
      </td>
      <td>{{this.describe}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
      <td>
          <a class="btn btn-success" href="/courses/{{this._id}}/edit">Sửa</a>
          <a class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteCourseModal">Xóa</a>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="6" class="text-center">Bạn chưa tạo khóa học <a href="/courses/create">Tạo tại đây</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</form>

<!-- Modal -->
<div class="modal fade" id="deleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" id="deleteCourse" class="btn btn-primary">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

<form id="removeCourse" method="post">

</form>

<script>
  var deleteCourse = document.getElementById("deleteCourse");
  document.addEventListener("DOMContentLoaded",function(e) {
      var btnCheckBoxAll = $('#checkBoxAll');
      var btnCheckBox = $('.checkBox');
      var render = $('#render');
      var selectAction = $('#selectAction');

      $('#deleteCourseModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var id = button.data('id') // Extract info from data-* attributes
      var url = `/courses/${id}?_method=DELETE`;
      
      deleteCourse.onclick = function(){
      document.forms['removeCourse'].action = url;
      document.forms['removeCourse'].submit();
      };
    });

    // Khi change nút chọn tất cả
    btnCheckBoxAll.change(function(){
      let isCheckBoxAll = $(this).prop('checked');
      btnCheckBox.prop('checked', isCheckBoxAll);
      renderBtn();
    });

    // Khi kích từng nút checkbox
    btnCheckBox.change(function(){
      let isCheckBox = $(btnCheckBox).length === $('input[name="courseId[]"]:checked').length;
      btnCheckBoxAll.prop('checked', isCheckBox);
      renderBtn();
    });

    //
    selectAction.change(function(){
      renderBtn();
    });
    // Điều kiện khi nhấn thực hiên
    function renderBtn()
    {
      let countCheckBox =  $('input[name="courseId[]"]:checked').length;
      if(countCheckBox > 0 && selectAction.val()!="" )  render.prop('disabled',false);
      else render.prop('disabled',true);
    }

});
</script>